{% extends 'base.html.twig' %}

{% block title %}Destination index{% endblock %}

{% block body %}
    <h1>Destination List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for destination in destinations %}
            <tr>
                <td>{{ destination.name }}</td>
                <td>{{ destination.description }}</td>
                <td><img src="{{ destination.imageUrl }}" alt="{{ destination.name }}"></td>
                <td>
                    <a href="{{ path('app_destination_show', {'id': destination.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_destination_new') }}">Create new</a>
{% endblock %}
